/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$title-color: #393;
$points-color: orange;
body {
    text-align: center;
}

p,
li {
    text-align: left;
    font-size: 1.75em;
}

li {
    margin-top: 0.5em;
    list-style: disc;
}

.container {
    margin: 0 2em 0 2em;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 2.1em;
    margin: 0.5em 0 0.5em 0;
}

.green {
    color: $title-color;
}

.plusPoints {
    color: $points-color;
    font-size: 2.25em;
    margin: 1em 0.25em 0 0;
    text-shadow: -0.5px 0 black, 0 0 black, 0.5px 0 black, 0 0 black;
}

.gemsInfo {
	margin: 1em 0 0 0.25em;
}

.imgFlex {
    display: flex;
    justify-content: space-around;
}

.gemsFlex {
	display: flex;
	align-items: center;
}

.gemImg {
	height: 85px;
	width: 50px;
}

.powerUpRow {
	margin: 1em 0 1em 0;
}