/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$title-color: #393;
$points-color: orange;
$standard-border: 6px solid $title-color;
body {
    text-align: center;
    font-family: Arial, sans-serif;
}

p,
li {
    text-align: left;
}

li {
    margin-top: 0.5em;
}

.container {
    padding: 0 2em 0 2em;
    width: 100%;
}

.aboutRow {
    border-bottom: $standard-border;
    border-left: $standard-border;
    padding: 0 0 0.5em 0.5em;
}

.instructRow {
    border-right: $standard-border;
    padding-right: 0.5em;
    padding-bottom: 39px;
    flex-grow: 1;
}

.gameColumn {
    display: flex;
    flex-flow: column nowrap;
    // Centers the name input box:
    align-items: center;
}

.gameRow {
    margin: 0;
}

.rowWithMargin {
    margin: 1em 0 3em 0;
}

.gameColumn {
    padding: 0;
}

.title {
    font-family: Impact, Arial, sans-serif;
    text-align: center;
    font-size: 2.1em;
    margin: 0.5em 0 0.5em 0;
}

.biggerText {
    font-size: 1.75em;
}

.cappedHeight {
    max-height: 40px;
}

.green {
    color: $title-color;
}

.imgFlex {
    display: flex;
    justify-content: space-around;
}

.imgFlexOne {
    display: flex;
    justify-content: center;
}

.exampleTimer {
    font-family: Impact, Arial, sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 2px 0 black, 0 2px black, 0 -2px black;
    margin-top: 20px;
}

.mainFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.infoColumn {
    display: flex;
    flex-flow: column nowrap;
    order: 0;
    -webkit-order: 0;
}

.infoColumn > * {
    flex-shrink: 0;
}

.gameColumn {
    order: 1;
    -webkit-order: 1;
}

.extraColumn {
    border-left: $standard-border;
    order: 2;
    -webkit-order: 2;
}

@media screen and (max-width: 1200px) {
    .infoColumn {
        order: 1;
        -webkit-order: 1;
    }
    .gameColumn {
        order: 0;
        -webkit-order: 0;
    }
    .aboutRow {
        border: none;
        margin-top: 1.5em;
    }
    .instructRow {
        border: none;
    }
    .extraColumn{
        margin-top: 1.5em;
    }
}

.gemsFlex {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

$gemWidth: 30px;
.gemImg {
    height: $gemWidth * 1.7;
    width: $gemWidth;
}

.plusPoints {
    color: $points-color;
    font-size: $gemWidth;
    margin: 0.5em 0.25em 0 0;
    text-shadow: -0.5px 0 black, 0 0 black, 0.5px 0 black, 0 0 black;
}

// Make sure that the text is on its own line after the images. This is mainly important 
// for the instructions about the pause and mute buttons:
.picInfo {
    width: 100%;
}