/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$title-color: #393;
$points-color: orange;
body {
    text-align: center;
    font-family: Arial, sans-serif;
}

p,
li {
    text-align: left;
    font-size: 1.75em;
}

li {
    margin-top: 0.5em;
}

.container {
    padding: 0 2em 0 2em;
    width: 100%;
}

.title {
    font-family: Impact, Arial, sans-serif;
    text-align: center;
    font-size: 2.1em;
    margin: 0.5em 0 0.5em 0;
}

.biggerText {
    font-size:1.75em;
}

.green {
    color: $title-color;
}

.plusPoints {
    color: $points-color;
    font-size: 2.25em;
    margin: 1em 0.25em 0 0;
    text-shadow: -0.5px 0 black, 0 0 black, 0.5px 0 black, 0 0 black;
}

.gemsInfo {
    margin: 1em 0 0 0.25em;
}

.imgFlex {
    display: flex;
    justify-content: space-around;
}

.imgFlexOne {
    display: flex;
    justify-content: center;
}

.exampleTimer {
    font-family: Impact, Arial, sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 2px 0 black, 0 2px black, 0 -2px black;
    margin-top: 20px;
}

.gemsFlex {
    display: flex;
    align-items: center;
}

.mainFlex {
    display: flex;
    flex-wrap: wrap;
}

.infoColumn {
    order: 0;
    -webkit-order: 0;
}

.gameColumn {
    order: 1;
    -webkit-order: 1;
}

.tableColumn {
    order: 2;
    -webkit-order: 2;
}

@media screen and (max-width: 992px) {
  .infoColumn {
    order: 1;
    -webkit-order: 1;
}

.gameColumn {
    order: 0;
    -webkit-order: 0;
}
  }

.gemImg {
    height: 85px;
    width: 50px;
}

.powerUpRow {
    margin: 1em 0 1em 0;
}

#nameInput {
    margin-top: 2em;
    font-size: 2em;
    text-align: center;
}

.lboardHead {
    font-size: 1.5em;
    font-weight: bold;
}

#leaderboardTable {
    width: 100%;
    tbody td {
        padding-top: 1em;
    }
    tbody tr:nth-child(2) td {
        padding-top: 0.5em;
        font-size: 2em;
    }
    tbody tr:nth-child(3) td {
        padding-top: 0.66em;
        font-size: 1.75em;
    }
    tbody tr:nth-child(4) td {
        padding-top: 0.75em;
        font-size: 1.50em;
    }
    tbody tr:nth-child(5) td {
        padding-top: 0.88em;
        font-size: 1.25em;
    }
}
